.heading {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.card {
    display: flex;
    width: 210px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.cardImage {
    width: 200px;
    height: 200px;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap;

}

.page-number {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.active {
    background-color: aqua;
}